/* li {
  display: inline;
  margin-right: 10px;
} */

nav {
  display: inline-block;
  width: 80%;
}

nav img {
  width: 10%;
}

.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-between;
  align-items: center;
  row-gap: 10px;
}

.grid img {
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}