@media (min-width: 772px) {
  div {
    width: 45vw;
    /* Additional adjustments for height and layout as needed */
  }
  img {
    max-height: 30vh;
    /* Additional adjustments if required */
  }
}

@media (min-width: 998px) {
  div {
    width: 30vw;
  }
}
